
.darktheme {
	background: var(--dark);
	color: var(--light);
}

	.darktheme.main .breadcrumb-item  a {
		color: lightskyblue;
	}

	.darktheme.main .btn-default {
		color: #fff;
		background-color: transparent;
		border-color: var(--info);
	}
		.darktheme.main .btn-default:hover {
			background-color: var(--info);
		}


	/*#region  Bootstrap */
	.darktheme.main .breadcrumb {
		background-color: black;
	}

		.darktheme.main .breadcrumb .active {
			color: var(--light);
		}

		.darktheme.main .breadcrumb-item+.breadcrumb-item::before {
			color: var(--light);
		}

	.darktheme.main .card {
		background-color: var(--secondary);
		color: var(--light);
	}

	.darktheme.main .pagination {
		color: var(--light);
	}

	.darktheme.main .page-item .page-link {
		background-color: transparent;
		border-color: darkgrey;
	}

		.darktheme.main .page-item .page-link:hover {
			background-color: var(--info);
		}

	.darktheme.main .page-item.active .page-link {
		background-color: var(--info);
	}
	/*#endregion Bootstrap  */